*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  font-family: system-ui;
  background-color: black;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  text-align: center;
  padding: 20px;
}
h2{
  color: white;
  margin-bottom: 30px;
  font-size: 2.5rem;
}
#generateBtn{
  background-color: white;
  border: none;
  padding: 15px 40px;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: 40px;
  transition: transform 0.2s;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  -webkit-transition: transform 0.2s;
  -moz-transition: transform 0.2s;
  -ms-transition: transform 0.2s;
  -o-transition: transform 0.2s;
}

#generateBtn:hover{
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

#colorPalette{
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
.color-card{
  width:150px;
  height: 200px;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 15px;
  cursor: pointer;
  transition: transform 0.2s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transition: transform 0.2s;
  -moz-transition: transform 0.2s;
  -ms-transition: transform 0.2s;
  -o-transition: transform 0.2s;
}
.color-card:hover{
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(191, 13, 13, 0.3);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}
.color-code{
  background-color: white;
  padding: 8px 15px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 0.9rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}